{% extends 'bases.html' %}

{% block body %}




<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
            <h1>Membership Plans</h1>
          <h1>Start Now Stop Never <span>.</span></h1>
          <h2>Fito Fitness </h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="#chome">ON CUITPASS HOME</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="#cpro">ON CUITPASS PRO</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="#celite">ON CUITPASS ELITE</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-paint-brush-line"></i>
            <h3><a href="#ctransform">ON CUITPASS TRANSFORM</a></h3>
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">


    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" style='background-image: url("static/img/classes/classes-1.jpg");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-receipt"></i>
              <h4>Make a Plan and Keep It</h4>
              <p>No one plans to fail, but they do fail to plan. Sticking to your plan will help you reach your workout goals in a timely fashion.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h4>Work Out With a Purpose</h4>
              <p>If you don't have a plan or a purpose for working out, it will become difficult to stick with an exercise program.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-images"></i>
              <h4>Increase Fluid Intake</h4>
              <p>A good rule of thumb to know how much water you need daily is to take your current weight. Often, when your body is not properly hydrated or caught up on sleep, the symptoms can manifest themselves in the form of cravings.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-shield"></i>
              <h4>Have Fun</h4>
              <p>There's no law that says exercise has to be boring. Most trainers and everyday people who have lost weight and kept it off know that exercise should be fun. Work out by doing what you love.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
   <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Checkout Membership Services</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4><a href="">Yoga</a></h4>
                    <p>Subscribe for Membership and Trainer and get unique id</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">Zumba</a></h4>
                    <p>A nutritionist will be assigned to you and your diet will be customized.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="">Workout</a></h4>
                    <p>Encompass a wide variety of equipment designed to facilitate physical exercise and fitness training.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-heart"></i></div>
                    <h4><a href="">Anywhere</a></h4>
                    <p>Acheieve your fitness goals with our diet plan by nutritionist and choose your diet at lowest price.</p>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-arch"></i></div>
                    <h4><a href="">By Expert Trainer</a></h4>
                    <p>Delivery of fitness equipment and accessories and too healthy food across Gujarat 24*7.</p>
                </div>
            </div>
           


        </div>

      </div>
    </section>
    <!-- End Services Section -->

   
   


  <!-- About Section Begin -->
  <section class="about-section spad">
      <div class="container">
          <div class="row">
              
          </div>
      </div>
  </section>
  <!-- About Section End -->

  <!-- Services Section Begin -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="image col-lg-6" style='background-image: url("static/img/services/service-pic.jpg");' data-aos="fade-right"></div>
          
              <div class="col-lg-6">
                  <div class="service-items">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="icon-box">
                                  <img src="static/img/services/service-icon-1.png" alt="">
                                  <h4>Strategies</h4>
                                  <p>Aenean massa. Cum sociis Theme et natoque penatibus et magnis dis part urient
                                      montes.</p>
                              </div>
                              <div class="icon-box">
                                  <img src="static/img/services/service-icon-3.png" alt="">
                                  <h4>Workout</h4>
                                  <p>Aenean massa. Cum sociis Theme et natoque penatibus et magnis dis part urient
                                      montes.</p>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="icon-box">
                                  <img src="static/img/services/service-icon-2.png" alt="">
                                  <h4>Yoga</h4>
                                  <p>Aenean massa. Cum sociis Theme et natoque penatibus et magnis dis part urient
                                      montes.</p>
                              </div>
                              <div class="icon-box">
                                  <img src="static/img/services/service-icon-4.png" alt="">
                                  <h4>Weight Loss</h4>
                                  <p>Aenean massa. Cum sociis Theme et natoque penatibus et magnis dis part urient
                                      montes.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Services Section End -->


  <section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">

      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="static/img/classes/classes-1.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="static/img/classes/classes-4.jpg" class="img-fluid" alt=""></div>
          
          
          <div class="swiper-slide"><img src="static/img/classes/classes-2.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="static/img/classes/classes-5.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="static/img/classes/classes-3.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="static/img/classes/classes-6.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="static/img/classes/classes-7.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="static/img/classes/classes-8.jpg" class="img-fluid" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section>


  <!-- Classes Section Begin -->
 
  <!-- Classes Section End -->

  <!-- Trainer Section Begin -->
  <section class="trainer-section spad">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="section-title">
                      <h2>EXPERT TRAINERS</h2>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-6">
                  <div class="single-trainer-item">
                      <img src="static/img/trainer/trainer-1.jpg" alt="">
                      <div class="trainer-text">
                          <h5>Patrick Cortez</h5>
                          <span>Leader</span>
                          <p>non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                              voluptatem.</p>
                          <div class="trainer-social">
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"><i class="fa fa-instagram"></i></a>
                              <a href="#"><i class="fa fa-twitter"></i></a>
                              <a href="#"><i class="fa fa-pinterest"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="single-trainer-item">
                      <img src="static/img/trainer/trainer-2.jpg" alt="">
                      <div class="trainer-text">
                          <h5>Gregory Powers</h5>
                          <span>Gym coach</span>
                          <p>non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                              voluptatem.</p>
                          <div class="trainer-social">
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"><i class="fa fa-instagram"></i></a>
                              <a href="#"><i class="fa fa-twitter"></i></a>
                              <a href="#"><i class="fa fa-pinterest"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="single-trainer-item">
                      <img src="static/img/trainer/trainer-3.jpg" alt="">
                      <div class="trainer-text">
                          <h5>Walter Wagner</h5>
                          <span>Dance trainer</span>
                          <p>non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                              voluptatem.</p>
                          <div class="trainer-social">
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"><i class="fa fa-instagram"></i></a>
                              <a href="#"><i class="fa fa-twitter"></i></a>
                              <a href="#"><i class="fa fa-pinterest"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
 

<!-- Membership Section Begin -->
<section class="membership-section spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title">
                  <h2>MEMBERSHIP PLANS</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4">
              <section id="chome" class="membership-item">
                  <div class="mi-title">
                      <h4>HOME</h4>
                      <div class="triangle"></div>
                  </div>
                  <h2 class="mi-price">&#8377;17<span>/01 mo</span></h2>
                  <ul>
                      <li>
                          <p>Duration</p>
                          <span>12 months</span>
                      </li>
                      <li>
                          <p>Personal trainer</p>
                          <span>00 person</span>
                      </li>
                      <li>
                          <p>Amount of people</p>
                          <span>01 person</span>
                      </li>
                      <li>
                          <p>Number of visits</p>
                          <span>Unlimited</span>
                      </li>
                  </ul>
                  <a href="#" class="primary-btn membership-btn">Start Now</a>
                </section>
          </div>
          <div class="col-lg-4">
              <section id="cpro" class="membership-item">
                  <div class="mi-title">
                      <h4>PRO</h4>
                      <div class="triangle"></div>
                  </div>
                  <h2 class="mi-price">&#8377;57<span>/01 mo</span></h2>
                  <ul>
                      <li>
                          <p>Duration</p>
                          <span>12 months</span>
                      </li>
                      <li>
                          <p>Personal trainer</p>
                          <span>01 person</span>
                      </li>
                      <li>
                          <p>Amount of people</p>
                          <span>01 person</span>
                      </li>
                      <li>
                          <p>Number of visits</p>
                          <span>Unlimited</span>
                      </li>
                  </ul>
                  <a href="#" class="primary-btn membership-btn">Start Now</a>
                </section>
          </div>
          <div class="col-lg-4">
              <section id="celite" class="membership-item">
                  <div class="mi-title">
                      <h4>ELITE</h4>
                      <div class="triangle"></div>
                  </div>
                  <h2 class="mi-price">&#8377;98<span>/01 mo</span></h2>
                  <ul>
                      <li>
                          <p>Duration</p>
                          <span>12 months</span>
                      </li>
                      <li>
                          <p>Personal trainer</p>
                          <span>01 person</span>
                      </li>
                      <li>
                          <p>Amount of people</p>
                          <span>01 person</span>
                      </li>
                      <li>
                          <p>Number of visits</p>
                          <span>Unlimited</span>
                      </li>
                  </ul>
                  <a href="#" class="primary-btn membership-btn">Start Now</a>
                </section>
          </div>

          <div class="col-lg-4">
            <section id="ctransform" class="membership-item">
                <div class="mi-title">
                    <h4>TRANSFORM</h4>
                    <div class="triangle"></div>
                </div>
                <h2 class="mi-price">&#8377;98<span>/01 mo</span></h2>
                <ul>
                    <li>
                        <p>Duration</p>
                        <span>12 months</span>
                    </li>
                    <li>
                        <p>Personal trainer</p>
                        <span>01 person</span>
                    </li>
                    <li>
                        <p>Amount of people</p>
                        <span>01 person</span>
                    </li>
                    <li>
                        <p>Number of visits</p>
                        <span>Unlimited</span>
                    </li>
                </ul>
                <a href="#" class="primary-btn membership-btn">Start Now</a>
            </section>
          </div>
      </div>
  </div>
</section>
<!-- Membership Section End -->
  </main>

   <!-- ======= Cta Section ======= -->
   <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

      <div class="text-center">
        <h3>Just For You</h3>
        <p>Explore our selection of premium diet plans and supplements, designed to fuel your gym workouts and support your health goals – Shop Now!</p>
        <a class="cta-btn" href="#">Shop Now!</a>
      </div>

    </div>
  </section><!-- End Cta Section -->
  
  <!-- ======= Portfolio Section ======= -->
 
   <!-- ======= Contact Section ======= -->
   <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>ABC Complex, C-13, V.V.Nagar, Anand, Gujarat, 388120</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>info@gmail.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+91 999999-9999</p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>

        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Fito Fitness<span>.</span></h3>
              <p>
                  ABC Complex, C-13, V.V.Nagar <br>
                  Anand, Gujarat, 388120<br><br>
                  <strong>Phone:</strong> +91 999999-9999<br>
                  <strong>Email:</strong> info@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>
{% endblock body %}
